body {
  text-align: center;
  margin: auto;
  max-width: 300px;
  background-color: #7b7577;
}

#container {
  background-color: rgb(202, 210, 216);
  margin: auto;
  margin-top: 5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  height: 20rem;
  box-shadow: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.2rem;
}

#input-string {
  display: block;
  border-style: solid;
  border-color: #7b7577;
  background-color: bisque;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
}

#check-button {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  border-style: solid;
  border-color: #7b7577;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
}

#output-result {
  margin-top: 1rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  font-size: larger;
  font-weight: bolder;
}
